body {
    background-image: url('/client/src/background_main.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: #333; }
h1 {
    color: #007bff;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
